.background-container {
    /* margin-top: -10rem; */
    position: absolute;
    top: 3rem;
    left: 5rem;
    /* width: 1440px; */
    margin-right: 3rem;
    height: auto;
    display: flex;
    flex-direction: row;
    color: black;
    width: 1640;
  }

  .bold-header-cap {
    background-color: #ACD793;
    color: blue;
    font-weight: bold;
    border: 1px solid black;
}